/* * {
    color: red;
} */

/* h1 {
    color: red;
} */

/* #head{
    text-align: center;
}

.text-purple{
    color: purple;
}

.container > a{
    color: green;
} */



/* div a {
    color: red;
} */

/* h1 , h2{
    color: red;
} */
/* 
#head-id{
    color: black;
}

.head{
    color: aqua;
}

h1 {
    color: red;
}

h1{
    color: purple;
}
 */


/* 
body {
    color: cadetblue;
} */



/* .container{
    color: red;
    border: 1px solid black;
} */
/* 
p , h1{
    border: 1px solid black;
    
}
 */
body{
    background-color: rgba(48, 132, 197, 1);
}